/*fonts link from poppins font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    /*making the margin*/
    margin:0;
    /*making the padding 0*/
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    background-color: black;
    margin: 0;
    
}

header
{
    background-color: black;
    width: 100%;
    position: fixed; /*fixed header-bar when we scroll down*/
    z-index: 999; /*make the header over everything when we scroll down*/
    padding: 10px 80px;
    align-items: center;
    /*justify-content: space-between;*/
    display: flex;
}

/*logo of "Uber" */
.logo
{
    text-decoration: none;
    color: white;
    font-weight: 300px;
    font-size: 1.5em;
    margin-right:30px;
}

.navigation
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
}

.navigation ul li
{
    display: inline-block;
    padding: 20px;
}

.navigation li a
{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
}

.navigation .signup a {
    border: 1px solid black;
    border-radius: 20px ;
    color:black;
    background-color: white ;
    padding: 10px;
}

.navigation li a:hover {
    background-color: grey;
    
}

.rightside
{
    float: right;
}

/* the first section */
section
{
    padding: 100px 200px;
}

.main-form
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_994,h_559/v1653688498/assets/2c/3833ca-a2eb-4da4-9879-51193ea88f87/original/DotCom_Update_Earner_bg_med2x.jpg) no-repeat;
    background-size: cover; /*to scale the background size*/
    background-position: center;
    background-attachment: fixed; /*when we scroll down the main image is_fixed */
}

.form-info
{
    position: absolute;
    display: flex ;
    flex-direction: column;
    width: 600px;
    height: 520px;
    background-color: white;
    margin: 20px 0;
    z-index: 1;
    left: 10%;
    transform: translate(-50% -50%);
}

.form-title
{
    position: relative;
    background-color: rgb(240, 240, 234);
    border-bottom: 0.2px solid rgb(222, 220, 220);
    height: 100px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

.form-title li
{
    display: inline-block;
    padding: 10px 10%;
    text-align: center;
}

.form-title li a 
{
    text-decoration: none;
    color: black;
}

.body-form
{
    padding: 0 60px;
}

.body-form h1
{
    /*color: white;*/
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.body-form h3{
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 40px;
}

.body-form h4{
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 500;
}

.main-btn
{
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block; /*allow us give the btn padding and margin*/
    padding: 0.937em 1.1em;
    border-radius: 15px; /*curve shape*/
    margin-bottom: 50px;
    margin: 10px 0;
    transition: 0.7s ease; /*move slowly when mouse over the btn with 0.7s*/
}

.main-btn:hover
{
    background-color: rgb(68, 67, 67);
    transform: none;
}

/* the business section */

.business{
    width: 100%;
    height: 300px;
    background: url(https://www.uber-assets.com/image/upload/v1613106985/assets/0e/47aa71-35cb-459a-a975-78c61ea300e2/original/HP-U4B-NYC-bkg.png) no-repeat;
    padding: 50px 0;
    background-position: center right;
    background-size: cover;
    line-height: 3;
}

.business .title
{
    position: relative;
    left: 10%;
    font-size: 1000;
    transform: translate(-50% -50%);
    letter-spacing: 1px;
}

.business p
{
    position: relative;
    left: 10%;
    bottom: 10%;
}

.business .main-btn2
{
    display: inline-block;
    padding: 0 20px;
    position: relative;
    left: 10%;
    bottom: 20%;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: black;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 50px 0;
    transition: 0.7s ease;
}

.main-btn2:hover
{
    background-color: rgb(68, 67, 67);
    transform: none;
}

.black-section h1
{
    margin-top: 20px;
    flex-wrap: wrap;
    position: relative;
    left: 10%;
    color: white;
}

.black-section p
{
    color: white;
    position: relative;
}

.main-btn3
{
    display: inline-block;
    padding: 0 20px;
    position: relative;
    left: 10%;
    bottom: 20%;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    color: black;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 50px 0;
    transition: 0.7s ease;
}

.main-btn3:hover
{
    background-color: rgb(131, 125, 125);
    transform: none;
}

/* the third section */
.about
{
    background-color: white;
}

.about .safety{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 3%;
    left: 50%;
    margin: -20px;
}

.about .content
{
    margin-top: 30px;
    /*background: url(https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_558,h_372/v1613520218/assets/3e/e98625-31e6-4536-8646-976a1ee3f210/original/Safety_Home_Img2x.png) no-repeat;*/
}

.about-card
{
    margin: -20px;
}
